<!-- Challenge creation form for step 1 -->

<section ng-if="challengeCreateUsingUi.step1" class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Create Challenge</div>
                <form name="challengeCreateForm" ng-submit="challengeCreateUsingUi.challengeCreate(challengeCreateForm.$valid)" novalidate>
                    <div class="input-field align-left">
                        <input id="challengeTitle" name="challengeTitle" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeTitle" required>
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        <label for="challengeTitle">Challenge Title</label>
                        <div class="wrn-msg text-highlight" ng-messages="challengeCreateForm.challengeTitle.$error" ng-if="challengeCreateForm.challengeTitle.$touched || challengeCreateUsingUi.$submitted">
                            <p ng-message="required">Challenge Title is required.</p>
                        </div>
                    </div>
                    <div class="input-field align-left">
                        <input id="challengeShortDescription" name="challengeShortDescription" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeShortDescription" required>
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        <label for="challengeShortDescription">Short Description</label>

                    </div>
                    <div class="input-field align-left">
<!--                       <trix-editor ng-model-options="{ updateOn: 'blur' }" 
                                   spellcheck="false" class="trix-content" 
                                   ng-model="challenge.data"
                                   angular-trix 
                                   trix-initialize="trixInitialize(e, editor);" 
                                   trix-change="trixChange(e, editor);" 
                                   trix-selection-change="trixSelectionChange(e, editor);" 
                                   trix-focus="trixFocus(e, editor);" 
                                   trix-blur="trixBlur(e, editor);" 
                                   trix-file-accept="trixFileAccept(e, editor);" 
                                   trix-attachment-add="trixAttachmentAdd(e, editor);" 
                                   trix-attachment-remove="trixAttachmentRemove(e, editor);" 
                                   placeholder="Write something.."></trix-editor> -->
                        <input id="challengeDescription" name="challengeDescription" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeDescription" required>
                             <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        <label for="challengeDescription">Description</label>

                    </div>
                    <div class="input-field align-left">
                        <input id="challengeEvaluationDetails" name="challengeEvaluationDetails" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeEvaluationDetails" required>
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>                        
                            <label for="challengeEvaluationDetails">Evaluation details</label>

                    </div>
                    <div class="input-field align-left">
                        <input id="challengeTermsAndConditions" name="challengeTermsAndConditions" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeTermsAndConditions" required>
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        <label for="challengeTermsAndConditions">Terms and Conditions</label>

                    </div>
                    <div class="input-field align-left">
                        <input type="text" id="challengeStartDate" ng-model="challengeCreateUsingUi.challengeStartDate" class="text-dark-black dark-autofill w-400" required>
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        <label for="challengeStartDate">Start Date</label>
                    </div>
                    <div class="input-field align-left">
                        <input type="text" ng-model="challengeCreateUsingUi.challengeEndDate" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeEndDate" required>
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        <label for="challengeEndDate">End Date</label>
                    </div>
                    <div class="input-field align-left">
                        <input type="checkbox" id="challengeEnableForum" name="challengeEnableForum" ng-model="challengeCreateUsingUi.challengeEnableForum" required>
                            <label for="challengeEnableForum">Enable Forum</label>
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                    </div>
                    <div class="input-field align-left">
                        <input type="checkbox" id="challengePublicallyAvailable" name="challengePublicallyAvailable" ng-model="challengeCreateUsingUi.challengePublicallyAvailable" required>
                            <label for="challengePublicallyAvailable" class="checkbox-field">Publically Available</label>
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                    </div>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14">
                            <span>Challenge Image</span>
                            <input name="challengeImage" ngf-select type="file" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeImage" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                             <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14">
                            <span>Evaluation Script</span>
                            <input name="challengeEvalScript" ngf-select type="file" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeEvalScript" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate eval-script" type="text">
                             <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                    {{challengeCreateUsingUi.formError}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Leaderboard creation form for step 2 -->

<section ng-if="challengeCreateUsingUi.step2" class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Create Leaderboard</div>
                <form name="leaderboardCreateForm" ng-submit="challengeCreateUsingUi.leaderboardCreate(leaderboardCreateForm.$valid)" novalidate>

                <div ng-repeat="leaderboard in challengeCreateUsingUi.leaderboards">
                    <div class="input-field align-left">
                         <input id="leaderboardId" name="leaderboardId" type="text" class="text-dark-black dark-autofill w-400" ng-model="leaderboard.leaderboardId" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="leaderboardId">Leader Board Id</label>
                            <div class="wrn-msg text-highlight" ng-messages="leaderboardCreateForm.leaderboardId.$error" ng-if="leaderboardCreateForm.leaderboardId.$touched || challengeCreateUsingUi.$submitted">
                                <p ng-message="required">Leader board Id is required.</p>
                            </div>
                        </div>
                        <div class="input-field align-left">
                            <input id="leaderboardSchema" name="leaderboardSchema" type="text" class="text-dark-black dark-autofill w-400" ng-model="leaderboard.schema" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="leaderboardSchema">Leader board Schema</label>
                        </div>
                        <div class="wrn-msg text-highlight" ng-messages="leaderboardCreateForm.leaderboardSchema.$error" ng-if="leaderboardCreateForm.leaderboardSchema.$touched || challengeCreateUsingUi.$submitted">
                            <p ng-message="required">Leaderboard Schema is required.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2">
                           <button class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.addNewLeaderboard()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="col s12 m2">
                            <button ng-if="challengeCreateUsingUi.leaderboards.length > 1" class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.removeNewLeaderboard($index)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                    {{challengeCreateUsingUi.formError}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<!-- Challenge Phase creation form for step 3 -->

<section ng-if="false" class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Create Challenge Phase</div>
                <form name="challengePhaseCreateForm" ng-submit="challengeCreateUsingUi.challengePhaseCreate(challengePhaseCreateForm.$valid)" novalidate>
                <div ng-repeat = "challenge_phase in challenge_phases">
                        <div class="input-field align-left">
                            <input id="challengePhaseName" name="challengePhaseName" type="text" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.name" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="challengePhaseName">Challenge Phase Name</label>
                            <div class="wrn-msg text-highlight" ng-messages="challengePhaseCreateForm.challengePhaseName.$error" ng-if="challengePhaseCreateForm.challengePhaseName.$touched || challengeCreateUsingUi.$submitted">
                                <p ng-message="required">Challenge Phase is required.</p>
                            </div>
                        </div>

                        <div class="input-field align-left">
                            <input id="challengePhaseDescription" name="challengePhaseDescription" type="text" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.description" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="challengePhaseDescription">Challenge Phase Description</label>

                        </div>

                        <div class="input-field align-left">
                            <input id="challengePhaseCodename" name="challengePhaseCodename" type="text" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.codename" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="challengePhaseCodename">Challenge Phase Codename</label>
                        </div>

                        <div class="input-field align-left">
                            <input id="challengeMaxSubmissionsPerDay" name="challengeMaxSubmissionsPerDay" type="text" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.max_submissions_per_day" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>                        
                                <label for="challengeMaxSubmissionsPerDay">Max submissions per day</label>
                        </div>

                        <div class="input-field align-left">
                            <input id="challengeMaxSubmissions" name="challengeMaxSubmissions" type="text" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.max_submissions" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>                        
                                <label for="challengeMaxSubmissions">Max submissions Total</label>
                        </div>

                        <div class="input-field align-left">
                            <input type="text" id="challengePhaseStartDate" ng-model="challenge_phase.start_date" class="text-dark-black dark-autofill w-400" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="challengePhaseStartDate">Start Date</label>
                        </div>
                        <div class="input-field align-left">
                            <input type="text" ng-model="challenge_phase.end_date" class="text-dark-black dark-autofill w-400" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="challengePhaseEndDate">End Date</label>
                        </div>
                        <div class="input-field align-left">
                            <input type="checkbox" id="challengePhaseLeaderboardPublic" name="challengePhaseLeaderboardPublic" ng-model="challenge_phase.leaderboard_public" required>
                                <label for="challengePhaseLeaderboardPublic">Leaderboard Public</label>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                        </div>
                        <div class="input-field align-left">
                            <input type="checkbox" id="challengePhasePublic" name="challengePhasePublic" ng-model="challenge_phase.is_public" required>
                                <label for="challengePhasePublic">Publically Available</label>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                        </div>

                        <div class="input-field align-left">
                            <input type="checkbox" id="challengePhaseSubmissionPublic" name="challengePhaseSubmissionPublic" ng-model="challenge_phase.is_submission_public" required>
                                <label for="challengePhaseSubmissionPublic" class="checkbox-field">Submissions Publically Available</label>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                        </div>

                        <div class="file-field input-field">
                            <div class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14">
                                <span>Test Annotation File</span>
                                <input name="testAnnotation" ngf-select type="file" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.test_annotation" required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                                 <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m2">
                           <button class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.addNewChallengePhase()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="col s12 m2">
                            <button ng-if="challenge_phases.length > 1" class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.removeNewChallengePhase($index)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                    {{challengeCreateUsingUi.formError}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- DataSet Split creation form for step 4 -->

<section ng-if="challengeCreateUsingUi.step3" class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Create Dataset Split</div>
                <form name="datasetSplitCreateForm" ng-submit="challengeCreateUsingUi.datasetSplitCreate(datasetSplitCreateForm.$valid)" novalidate>
                <div ng-repeat="datasetSplit in challengeCreateUsingUi.datasetSplits">
                    <div class="input-field align-left">
                         <input id="datasetSplitId" name="datasetSpliId" type="text" class="text-dark-black dark-autofill w-400" ng-model="datasetSplit.datasetSplitId" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="datasetSplitId">Dataset Split Id</label>
                            <div class="wrn-msg text-highlight" ng-messages="datasetSplitCreateForm.datasetSplitdId.$error" ng-if="datasetSplitCreateForm.datasetSplitId.$touched || challengeCreateUsingUi.$submitted">
                                <p ng-message="required">Dataset Split Id is required.</p>
                            </div>
                        </div>
                        <div class="input-field align-left">
                            <input id="datasetSplitName" name="datasetSplitName" type="text" class="text-dark-black dark-autofill w-400" ng-model="datasetSplit.name" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="datasetSplitName">Dataset Split Name</label>
                        </div>
                        <div class="wrn-msg text-highlight" ng-messages="datasetSplitCreateForm.datasetSplitName.$error" ng-if="datasetSplitCreateForm.datasetSplitName.$touched || challengeCreateUsingUi.$submitted">
                            <p ng-message="required">Dataset split name is required.</p>
                        </div>
                        <div class="input-field align-left">
                            <input id="datasetSplitCodename" name="datasetSplitCodename" type="text" class="text-dark-black dark-autofill w-400" ng-model="datasetSplit.codename" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="datasetSplitName">Dataset Split Codename</label>
                        </div>
                        <div class="wrn-msg text-highlight" ng-messages="datasetSplitCreateForm.datasetSplitCodename.$error" ng-if="datasetSplitCreateForm.datasetSplitCodename.$touched || challengeCreateUsingUi.$submitted">
                            <p ng-message="required">Dataset split codename is required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m2">
                           <button class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.addNewDatasetSplit()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="col s12 m2">
                            <button ng-if="datasetSplits.length > 1" class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.removeNewDatasetSplit($index)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                    {{challengeCreateUsingUi.formError}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- DataSet Split creation form for step 5 -->

<section ng-if="challengeCreateUsingUi.step5" class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Create Challenge Phase Split</div>
                <form name="challengePhaseSplitCreateForm" ng-submit="challengeCreateUsingUi.challengePhaseSplitCreate(challengePhaseSplitCreateForm.$valid)" novalidate>
                <div ng-repeat="challengePhaseSplit in challengeCreateUsingUi.challengePhaseSplits">
                    <div class="input-field align-left">
                         <input id="challengePhaseSplitChallengePhase" name="challengePhaseSplitChallengePhase" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengePhaseSplit.challenge_phase" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="challengePhaseSplitId">Challenge Phase Id</label>
                            <div class="wrn-msg text-highlight" ng-messages="challengePhaseSplitCreateForm.challengePhaseSplitChallengePhase.$error" ng-if="challengePhaseSplitCreateForm.challengePhaseSplitChallengePhase.$touched || challengeCreateUsingUi.$submitted">
                                <p ng-message="required">Challenge Phase Id is required.</p>
                            </div>
                        </div>
                        <div class="input-field align-left">
                            <input id="challengePhaseSplitDatasetSplit" name="challengePhaseSplitDatasetSplit" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengePhaseSplit.dataset_split" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="datasetSplitId">Dataset Split Id</label>
                        </div>
                        <div class="wrn-msg text-highlight" ng-messages="challengePhaseSplitCreateForm.challengePhaseSplitDatasetSplit.$error" ng-if="challengePhaseSplitCreateForm.challengePhaseSplitDatasetSplit.$touched || challengeCreateUsingUi.$submitted">
                            <p ng-message="required">Dataset split Id is required.</p>
                        </div>
                        <div class="input-field align-left">
                            <input id="challengePhaseSplitLeaderboard" name="challengePhaseSplitLeaderboard" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengePhaseSplit.leaderboard" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="LeaderboardId">Leaderboard Id</label>
                        </div>
                        <div class="wrn-msg text-highlight" ng-messages="challengePhaseSplitCreateForm.challengePhaseSplitLeaderboard.$error" ng-if="challengePhaseSplitCreateForm.challengePhaseSplitLeaderboard.$touched || challengeCreateUsingUi.$submitted">
                            <p ng-message="required">Leaderboard Id</p>
                        </div>
                        <div class="input-field align-left">
                            <input id="challengePhaseSplitVisibility" name="challengePhaseSplitVisibility" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengePhaseSplit.visibility" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            It is a long established fact that a
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="Visibility">Visibility</label>
                        </div>
                        <div class="wrn-msg text-highlight" ng-messages="challengePhaseSplitCreateForm.challengePhaseSplitVisibility.$error" ng-if="challengePhaseSplitCreateForm.challengePhaseSplitVisibility.$touched || challengeCreateUsingUi.$submitted">
                            <p ng-message="required">Visibility</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m2">
                           <button class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.addNewChallengePhaseSplit()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="col s12 m2">
                            <button ng-if="challengeCreateUsingUi.challengePhaseSplits.length > 1" class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.removeNewchallengePhaseSplit($index)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                    {{challengeCreateUsingUi.formError}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
