<!-- Challenge creation form for step 1 -->

<section ng-if="challengeCreateUsingUi.step1" class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Create Challenge</div>
                <form name="challengeCreateForm" ng-submit="challengeCreateUsingUi.challengeCreate(challengeCreateForm.$valid)" novalidate>
                    <div class="input-field align-left">
                        <input id="challengeTitle" name="challengeTitle" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeTitle" required>
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                      Title of the Challenge
                                    </md-tooltip>
                                </i>
                            </span>
                        <label for="challengeTitle">Challenge Title</label>
                        <div class="wrn-msg text-highlight" ng-messages="challengeCreateForm.challengeTitle.$error" ng-if="challengeCreateForm.challengeTitle.$touched || challengeCreateForm.$submitted">
                            <p ng-message="required">Challenge Title is required.</p>
                        </div>
                    </div>
                    <div class="input-field align-left">
                        <trix-editor 
                                   ng-model-options="{ updateOn: 'blur' }" 
                                   spellcheck="false" class="trix-content" 
                                   ng-model="challengeCreateUsingUi.challengeShortDescription"
                                   angular-trix 
                                   trix-initialize="trixInitialize(e, editor);" 
                                   trix-change="trixChange(e, editor);" 
                                   trix-selection-change="trixSelectionChange(e, editor);" 
                                   trix-focus="trixFocus(e, editor);" 
                                   trix-blur="trixBlur(e, editor);" 
                                   trix-file-accept="trixFileAccept(e, editor);" 
                                   trix-attachment-add="challengeCreateUsingUi.trixAttachmentAdd(e, editor);" 
                                   trix-attachment-remove="trixAttachmentRemove(e, editor);"
                                   class="trix-content"
                                   placeholder="Short Description for the Challenge"></trix-editor>
                    </div>
                    <div class="input-field align-left">
                        <trix-editor class="editor"
                                   ng-model-options="{ updateOn: 'blur' }" 
                                   spellcheck="false" class="trix-content" 
                                   ng-model="challengeCreateUsingUi.challengeDescription"
                                   angular-trix 
                                   trix-initialize="trixInitialize(e, editor);" 
                                   trix-change="trixChange(e, editor);" 
                                   trix-selection-change="trixSelectionChange(e, editor);" 
                                   trix-focus="trixFocus(e, editor);" 
                                   trix-blur="trixBlur(e, editor);" 
                                   trix-file-accept="trixFileAccept(e, editor);" 
                                   trix-attachment-add="challengeCreateUsingUi.trixAttachmentAdd(e, editor);" 
                                   trix-attachment-remove="trixAttachmentRemove(e, editor);"
                                   placeholder="Long Description of the Challenge"></trix-editor>
                    </div>
                    <div class="input-field align-left">
                        <trix-editor class="editor" 
                                   ng-model-options="{ updateOn: 'blur' }" 
                                   spellcheck="false" class="trix-content" 
                                   ng-model="challengeCreateUsingUi.SubmissionGuidelines"
                                   angular-trix 
                                   trix-initialize="trixInitialize(e, editor);" 
                                   trix-change="trixChange(e, editor);" 
                                   trix-selection-change="trixSelectionChange(e, editor);" 
                                   trix-focus="trixFocus(e, editor);" 
                                   trix-blur="trixBlur(e, editor);" 
                                   trix-file-accept="trixFileAccept(e, editor);" 
                                   trix-attachment-add="challengeCreateUsingUi.trixAttachmentAdd(e, editor);" 
                                   trix-attachment-remove="trixAttachmentRemove(e, editor);"
                                   placeholder="Submission Guidelines for the Challenge"></trix-editor>
                    </div>
                    <div class="input-field align-left">
                        <trix-editor class="editor" 
                                   ng-model-options="{ updateOn: 'blur' }" 
                                   spellcheck="false" class="trix-content" 
                                   ng-model="challengeCreateUsingUi.challengeTermsAndConditions"
                                   angular-trix 
                                   trix-initialize="trixInitialize(e, editor);" 
                                   trix-change="trixChange(e, editor);" 
                                   trix-selection-change="trixSelectionChange(e, editor);" 
                                   trix-focus="trixFocus(e, editor);" 
                                   trix-blur="trixBlur(e, editor);" 
                                   trix-file-accept="trixFileAccept(e, editor);" 
                                   trix-attachment-add="challengeCreateUsingUi.trixAttachmentAdd(e, editor);" 
                                   trix-attachment-remove="trixAttachmentRemove(e, editor);"
                                   placeholder="Terms and Conditions"></trix-editor>
                    </div>
                    <div class="input-field align-left">
                        <trix-editor class="editor"
                                   ng-model-options="{ updateOn: 'blur' }" 
                                   spellcheck="false" class="trix-content" 
                                   ng-model="challengeCreateUsingUi.challengeEvaluationDetails"
                                   angular-trix 
                                   trix-initialize="trixInitialize(e, editor);" 
                                   trix-change="trixChange(e, editor);" 
                                   trix-selection-change="trixSelectionChange(e, editor);" 
                                   trix-focus="trixFocus(e, editor);" 
                                   trix-blur="trixBlur(e, editor);" 
                                   trix-file-accept="trixFileAccept(e, editor);" 
                                   trix-attachment-add="challengeCreateUsingUi.trixAttachmentAdd(e, editor);" 
                                   trix-attachment-remove="trixAttachmentRemove(e, editor);"
                                   placeholder="Evaluation Details for the Challenge"
                                   ></trix-editor>
                    </div>
                    <div class="input-field align-left">
                            <input mdc-datetime-picker="" date="true" time="true" type="text" id="challengeStartDate" show-todays-date="" ng-model="challengeCreateUsingUi.challengeStartDate" class="md-input" readonly="readonly" placeholder="Start Date">
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        Start Date of the Challenge
                                    </md-tooltip>
                                </i>
                            </span>
                    </div>
                    <div class="input-field align-left">
                        <input mdc-datetime-picker="" date="true" time="true" type="text" id="challengeEndDate"
                         show-todays-date="" min-date="date" ng-model="challengeCreateUsingUi.challengeEndDate" class="md-input" readonly="readonly" placeholder="End Date">
                        <span class="form-icon form-icon-dark">
                            <i class="fa fa-info-circle">
                                <md-tooltip md-direction="right">
                                    End Date of the Challenge
                                </md-tooltip>
                            </i>
                        </span>
                    </div>
                    <div class="input-field align-left">
                        <input type="checkbox" id="challengeEnableForum" name="challengeEnableForum" ng-model="challengeCreateUsingUi.challengeEnableForum" value="challengeCreateUsingUi.challengeEnableForum">
                        <label for="challengeEnableForum">Enable Forum</label>
                        <span class="form-icon form-icon-dark">
                            <i class="fa fa-info-circle">
                                <md-tooltip md-direction="right">
                                    Enable challenge discussion forum
                                </md-tooltip>
                            </i>
                        </span>
                    </div>
                    <div class="input-field align-left">
                        <input type="checkbox" id="challengePublicallyAvailable" name="challengePublicallyAvailable" ng-model="challengeCreateUsingUi.challengePublicallyAvailable" value="challengeCreateUsingUi.challengePublicallyAvailable">
                        <label for="challengePublicallyAvailable" class="checkbox-field">Publically Available</label>
                        <span class="form-icon form-icon-dark">
                            <i class="fa fa-info-circle">
                                <md-tooltip md-direction="right">
                                    Make the challenge available to the public
                                </md-tooltip>
                            </i>
                        </span>
                    </div>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14">
                            <span>Challenge Image</span>
                            <input name="challengeImage" ngf-select type="file" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeImage" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                             <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        Challenge logo
                                    </md-tooltip>
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14">
                            <span>Evaluation Script</span>
                            <input name="challengeEvalScript" ngf-select type="file" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeEvalScript" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate eval-script" type="text">
                             <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        Evaluation script for the challenge
                                    </md-tooltip>
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                    {{challengeCreateUsingUi.formError}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Leaderboard creation form for step 2 -->

<section ng-if="challengeCreateUsingUi.step2" class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Create Leaderboard</div>
                    <form name="leaderboardCreateForm" ng-submit="challengeCreateUsingUi.leaderboardCreate(leaderboardCreateForm.$valid)" novalidate>
                    <div ng-repeat="leaderboard in challengeCreateUsingUi.leaderboards">
                    <div class="input-field align-left">
                         <input id="{{'leaderboardId_'+ $index}}" name="{{'leaderboardId_'+$index}}" type="text" class="text-dark-black dark-autofill w-400" ng-model="leaderboard.leaderboardId" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            Unique integer field for each leaderboard entry.
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="{{'leaderboardId_'+$index}}">Leader Board Id</label>
                            <div class="wrn-msg text-highlight" ng-messages="leaderboardCreateForm['leaderboardId_'+$index].$error" ng-if="leaderboardCreateForm['leaderboardId_'+$index].$touched || leaderboardCreateForm.$submitted">
                                <p ng-message="required">Leader board Id is required.</p>
                            </div>
                        </div>
                        <div class="input-field align-left">
                            <input id="{{'leaderboardSchema_'+$index}}" name="{{'leaderboardSchema_'+$index}}" type="text" class="text-dark-black dark-autofill w-400" ng-model="leaderboard.schema" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                           Schema for the leaderboard.
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="{{'leaderboardSchema_'+$index}}"> Leader board Schema </label>
                        </div>
                        <div class="wrn-msg text-highlight" ng-messages="leaderboardCreateForm['leaderboardSchema_'+$index].$error" ng-if="leaderboardCreateForm['leaderboardSchema_'+$index].$touched || leaderboardCreateForm.$submitted">
                            <p ng-message="required">Leaderboard Schema is required.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m2">
                           <button class="btn-floating btn-pagination waves-effect waves-dark" type="button" ng-click="challengeCreateUsingUi.addNewLeaderboard()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="col s12 m2">
                            <button ng-if="challengeCreateUsingUi.leaderboards.length > 1" class="btn-floating btn-pagination waves-effect waves-dark" type="button" ng-click="challengeCreateUsingUi.removeNewLeaderboard($index)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                    {{challengeCreateUsingUi.formError}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<!-- Challenge Phase creation form for step 3 -->

<section ng-if="challengeCreateUsingUi.step3" class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Create Challenge Phase</div>
                <form name="challengePhaseCreateForm" ng-submit="challengeCreateUsingUi.challengePhaseCreate(challengePhaseCreateForm.$valid)" novalidate>
                  <div ng-repeat = "challenge_phase in challengeCreateUsingUi.challenge_phases">
                        <div class="input-field align-left">
                            <input id="{{'challengePhaseName_'+$index}}" name="{{'challengePhaseName_'+$index}}" type="text" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.name" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            Name of the Challenge Phase
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="{{'challengePhaseName_'+$index}}">Challenge Phase Name</label>
                            <div class="wrn-msg text-highlight" ng-messages="challengePhaseCreateForm['challengePhaseName_'+$index].$error" ng-if="challengePhaseCreateForm['challengePhaseName_'+$index].$touched || challengePhaseCreateForm.$submitted">
                                <p ng-message="required">Challenge Phase is required.</p>
                            </div>
                        </div>

                    <div class="input-field align-left">
                        <trix-editor class="editor"
                                   ng-model-options="{ updateOn: 'blur' }" 
                                   spellcheck="false" class="trix-content" 
                                   ng-model="challenge_phase.description"
                                   angular-trix 
                                   trix-initialize="trixInitialize(e, editor);" 
                                   trix-change="trixChange(e, editor);" 
                                   trix-selection-change="trixSelectionChange(e, editor);" 
                                   trix-focus="trixFocus(e, editor);" 
                                   trix-blur="trixBlur(e, editor);" 
                                   trix-file-accept="trixFileAccept(e, editor);" 
                                   trix-attachment-add="challengeCreateUsingUi.trixAttachmentAdd(e, editor);" 
                                   trix-attachment-remove="trixAttachmentRemove(e, editor);"
                                   placeholder="Challenge Phase Description"
                                   id="{{'challengePhaseDescription_'+$index}}"></trix-editor>
                        </div>
                         <div class="input-field align-left">
                            <input id="{{'challengePhaseCodename_'+$index}}" name="{{'challengePhaseCodename_'+$index}}" type="text" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.codename" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            Unique codename for the challenge phase
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="{{'challengePhaseCodename_'+$index}}">Challenge Phase Codename</label>
                        </div>
                       <div class="input-field align-left">
                            <input id="{{'challengeMaxSubmissionsPerDay_'+$index}}" name="{{'challengeMaxSubmissionsPerDay_'+$index}}" type="number" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.max_submissions_per_day" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            Maximum submissions for a day
                                        </md-tooltip>
                                    </i>
                                </span>                        
                                <label for="{{'challengeMaxSubmissionsPerDay_'+$index}}">Max submissions per day</label>
                        </div>

                        <div class="input-field align-left">
                            <input id="{{'challengeMaxSubmissions_'+$index}}" name="{{'challengeMaxSubmissions_'+$index}}" type="number" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.max_submissions" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            Max submissions for a challenge phase
                                        </md-tooltip>
                                    </i>
                                </span>
                                <label for="{{'challengeMaxSubmissions_'+$index}}">Max submissions Total</label>
                        </div>

                    <div class="input-field align-left">
                            <input mdc-datetime-picker="" date="true" time="true" type="text" id="{{'challengePhaseStartDate_'+$index}}" show-todays-date="" ng-model="challenge_phase.start_date" class="md-input" readonly="readonly" placeholder="Start Date">
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        Start date for challenge phase
                                    </md-tooltip>
                                </i>
                            </span>
                    </div>

                    <div class="input-field align-left">
                            <input mdc-datetime-picker="" date="true" time="true" type="text" id="{{'challengePhaseEndDate_'+$index}}" show-todays-date="" ng-model="challenge_phase.end_date" class="md-input" readonly="readonly" placeholder="End Date">
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        End date for a challenge phase
                                    </md-tooltip>
                                </i>
                            </span>
                    </div>
                        <div class="input-field align-left">
                            <input type="checkbox" id="{{'challengePhaseLeaderboardPublic_'+$index}}" name="{{'challengePhaseLeaderboardPublic_'+$index}}" ng-model="challenge_phase.leaderboard_public">
                                <label for="{{'challengePhaseLeaderboardPublic_'+$index}}">Leaderboard Public</label>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            Make Leader Board publically available
                                        </md-tooltip>
                                    </i>
                                </span>
                        </div>
                        <div class="input-field align-left">
                            <input type="checkbox" id="{{'challengePhasePublic_'+$index}}" name="{{'challengePhasePublic_'+$index}}" ng-model="challenge_phase.is_public">
                                <label for="{{'challengePhasePublic_'+$index}}">Publically Available</label>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            Make challenge phase publically available
                                        </md-tooltip>
                                    </i>
                                </span>
                        </div>
                        <br>
                        <div class="file-field input-field">
                            <div class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14">
                                <span>Test Annotation File</span>
                                <input id="{{'testAnnotation_'+$index}}"" name="{{'testAnnotation_'+$index}}" ngf-select type="file" class="text-dark-black dark-autofill w-400" ng-model="challenge_phase.test_annotation" required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                                 <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                          Test Annotation file for challenge phase
                                        </md-tooltip>
                                    </i>
                                </span>
                            </div>
                            <div class="wrn-msg text-highlight" ng-messages="challengePhaseCreateForm['testAnnotation_'+$index].$error" ng-if="challengePhaseCreateForm['testAnnotation_'+$index].$touched || challengePhaseCreateForm.$submitted">
                              <p ng-message="required">Test Annotation File is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m2">
                           <button type="button" class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.addNewChallengePhase()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="col s12 m2">
                            <button type="button" ng-if="challengeCreateUsingUi.challenge_phases.length > 1" class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.removeNewChallengePhase($index)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                    {{challengeCreateUsingUi.formError}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- DataSet Split creation form for step 4 -->

<section ng-if="challengeCreateUsingUi.step4" class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Create Dataset Split</div>
                <form name="datasetSplitCreateForm" ng-submit="challengeCreateUsingUi.datasetSplitCreate(datasetSplitCreateForm.$valid)" novalidate>
                <div ng-repeat="datasetSplit in challengeCreateUsingUi.datasetSplits">
                    <div class="input-field align-left">
                         <input id="{{'datasetSplitId_'+$index}}" name="{{'datasetSplitId_'+$index}}" type="text" class="text-dark-black dark-autofill w-400" ng-model="datasetSplit.datasetSplitId" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            Unique integer field for each dataset split entry.
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="{{'datasetSplitId_'+$index}}">Dataset Split Id</label>
                            <div class="wrn-msg text-highlight" ng-messages="datasetSplitCreateForm['datasetSplitId_'+$index].$error" ng-if="datasetSplitCreateForm['datasetSplitId_'+$index].$touched || datasetSplitCreateForm.$submitted">
                                <p ng-message="required">Dataset Split Id is required.</p>
                            </div>
                        </div>
                        <div class="input-field align-left">
                            <input id="{{'datasetSplitName_'+$index}}" name="{{'datasetSplitName_'+$index}}" type="text" class="text-dark-black dark-autofill w-400" ng-model="datasetSplit.name" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                            Name for dataset split
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="{{'datasetSplitName_'+$index}}">Dataset Split Name</label>
                        </div>
                        <div class="wrn-msg text-highlight" ng-messages="datasetSplitCreateForm['datasetSplitName_'+$index].$error" ng-if="datasetSplitCreateForm['datasetSplitName_'+$index].$touched || datasetSplitCreateForm.$submitted">
                            <p ng-message="required">Dataset split name is required.</p>
                        </div>
                        <div class="input-field align-left">
                            <input id="{{'datasetSplitCodename_'+$index}}" name="{{'datasetSplitCodename_'+$index}}" type="text" class="text-dark-black dark-autofill w-400" ng-model="datasetSplit.codename" required>
                                <span class="form-icon form-icon-dark">
                                    <i class="fa fa-info-circle">
                                        <md-tooltip md-direction="right">
                                          Unique codename for dataset split
                                        </md-tooltip>
                                    </i>
                                </span>
                            <label for="{{'datasetSplitCodename_'+$index}}">Dataset Split Codename</label>
                        </div>
                        <div class="wrn-msg text-highlight" ng-messages="datasetSplitCreateForm['datasetSplitCodename_'+$index].$error" ng-if="datasetSplitCreateForm['datasetSplitCodename_'+$index].$touched || datasetSplitCreateForm.$submitted">
                            <p ng-message="required">Dataset split codename is required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m2">
                           <button type="button" class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.addNewDatasetSplit()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div class="col s12 m2">
                            <button type="button" ng-if="challengeCreateUsingUi.datasetSplits.length > 1" class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.removeNewDatasetSplit($index)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                      {{challengeCreateUsingUi.formError}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- Challenge Phase Split creation form for step 5 -->

<section ng-if="challengeCreateUsingUi.step5" class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Create Challenge Phase Split</div>
                <form name="challengePhaseSplitCreateForm" ng-submit="challengeCreateUsingUi.challengePhaseSplitCreate(challengePhaseSplitCreateForm.$valid)" novalidate>

                <div ng-repeat="challengePhaseSplit in challengeCreateUsingUi.challengePhaseSplits">

                  <div class="row">
                    <div class="rm-padding">
                      <md-select name="{{'challengePhase_'+$index}}" ng-model="challengePhaseSplit.challenge_phase" placeholder="Challenge Phase" class="rm-margin" required>
                        <md-option value="{{key.id}}" ng-repeat="key in challengeCreateUsingUi.challengePhase">{{key.name}}
                        </md-option>
                      </md-select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="rm-padding">
                      <md-select name="{{'datasetSplit_'+$index}}" ng-model="challengePhaseSplit.dataset_split" placeholder="Dataset Split" class="rm-margin" required>
                        <md-option value="{{key.id}}" ng-repeat="key in challengeCreateUsingUi.datasetSplit">{{key.name}}
                        </md-option>
                      </md-select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="rm-padding">
                      <md-select name="{{'leaderboard_'+$index}}" ng-model="challengePhaseSplit.leaderboard" placeholder="Leaderboard" class="rm-margin" required>
                        <md-option value="{{key.id}}" ng-repeat="key in challengeCreateUsingUi.leaderboard">{{key.schema}}
                        </md-option>
                      </md-select>
                    </div>
                  </div>

                  <div class="row add-margin-bottom">
                    <div class="rm-padding">
                      <md-select name="{{'visibility_'+$index}}" ng-model="challengePhaseSplit.visibility" placeholder="Visibility" class="rm-margin" required>
                        <md-option value="{{key.id}}" ng-repeat="key in challengeCreateUsingUi.visibility">{{key.name}}
                        </md-option>
                      </md-select>
                    </div>
                  </div>
              </div>
                <div class="row">
                    <div class="col s12 m2">
                       <button type="button" class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.addNewChallengePhaseSplit()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="col s12 m2">
                        <button type="button" ng-if="challengeCreateUsingUi.challengePhaseSplits.length > 1" class="btn-floating btn-pagination waves-effect waves-dark" ng-click="challengeCreateUsingUi.removeNewChallengePhaseSplit($index)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    </div>
                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                      {{challengeCreateUsingUi.formError}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<!-- Review Screen-->

<section ng-if="challengeCreateUsingUi.reviewScreen">
    <div class="reviewScreen">
<!--         <div class="col s12 m6 offset-m3">
            <div class="ev-md-container ev-card-body">
                <div class="pass-title">Review Challenge</div> -->
<!--                 <form name="challengeCreateForm" ng-submit="challengeCreateUsingUi.challengeCreate(challengeCreateForm.$valid)" novalidate> -->
<!--                     <div class="input-field align-left">
                        <input id="challengeTitle" name="challengeTitle" type="text" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challenge.title" focus-if="challengeCreateUsingUi.challenge.title" readonly>
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        <label for="challengeTitle">Challenge Title</label>
                    </div>

                    <div class="input-field align-left">
                      <textarea id="shortDesc" class="materialize-textarea" name="shortDesc" ng-model="challengeCreateUsingUi.challenge.short_description" focus-if="challengeCreateUsingUi.challenge.short_description" readonly></textarea>
                        <span class="form-icon form-icon-dark">
                          <i class="fa fa-info-circle">
                            <md-tooltip md-direction="right">
                              It is a long established fact that a
                            </md-tooltip>
                          </i>
                        </span>
                        <label for="shortDesc">Challenge Short Description</label>
                    </div>
                    <div class="input-field align-left">
                      <textarea id="Desc" class="materialize-textarea" name="Desc" ng-model="challengeCreateUsingUi.challenge.description" focus-if="challengeCreateUsingUi.challenge.description" readonly></textarea>
                        <span class="form-icon form-icon-dark">
                          <i class="fa fa-info-circle">
                            <md-tooltip md-direction="right">
                              It is a long established fact that a
                            </md-tooltip>
                          </i>
                        </span>
                        <label for="shortDesc">Challenge Description</label>
                    </div>
                    <div class="input-field align-left">
                      <textarea id="Desc" class="materialize-textarea" name="Desc" ng-model="challengeCreateUsingUi.challenge.evaluation_details" focus-if="challengeCreateUsingUi.challenge.evaluation_details" readonly></textarea>
                        <span class="form-icon form-icon-dark">
                          <i class="fa fa-info-circle">
                            <md-tooltip md-direction="right">
                              It is a long established fact that a
                            </md-tooltip>
                          </i>
                        </span>
                        <label for="shortDesc">Evaluation Details</label>
                    </div>
                    <div class="input-field align-left">
                      <textarea id="Desc" class="materialize-textarea" name="Desc" ng-model="challengeCreateUsingUi.challenge.terms_and_conditions" focus-if="challengeCreateUsingUi.challenge.terms_and_conditions" readonly></textarea>
                        <span class="form-icon form-icon-dark">
                          <i class="fa fa-info-circle">
                            <md-tooltip md-direction="right">
                              It is a long established fact that a
                            </md-tooltip>
                          </i>
                        </span>
                        <label for="shortDesc">Terms And Conditions</label>
                    </div>
                    <div class="input-field align-left">
                      <textarea id="Desc" class="materialize-textarea" name="Desc" ng-model="challengeCreateUsingUi.challenge.submission_guidelines" focus-if="challengeCreateUsingUi.challenge.submission_guidelines" readonly></textarea>
                        <span class="form-icon form-icon-dark">
                          <i class="fa fa-info-circle">
                            <md-tooltip md-direction="right">
                              It is a long established fact that a
                            </md-tooltip>
                          </i>
                        </span>
                        <label for="shortDesc">Submission Guidelines</label>
                    </div>
                    <div class="input-field align-left">
                            <input mdc-datetime-picker="" date="true" time="true" type="text" id="challengeStartDate" show-todays-date="" ng-model="challengeCreateUsingUi.challenge.start_date" class="md-input" readonly="readonly">
                            <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                    </div>
                    <div class="input-field align-left">
                        <input mdc-datetime-picker="" date="true" time="true" type="text" id="challengeEndDate"
                         show-todays-date="" min-date="date" ng-model="challengeCreateUsingUi.challenge.end_date" class="md-input" readonly="readonly">
                        <span class="form-icon form-icon-dark">
                            <i class="fa fa-info-circle">
                                <md-tooltip md-direction="right">
                                    It is a long established fact that a
                                </md-tooltip>
                            </i>
                        </span>
                    </div>
                    <div class="input-field align-left">
                        <input type="checkbox" id="challengeEnableForum" name="challengeEnableForum" ng-model="challengeCreateUsingUi.challenge.enable_forum" value="challengeCreateUsingUi.challenge.enable_forum">
                        <label for="challengeEnableForum">Enable Forum</label>
                        <span class="form-icon form-icon-dark">
                            <i class="fa fa-info-circle">
                                <md-tooltip md-direction="right">
                                    It is a long established fact that a
                                </md-tooltip>
                            </i>
                        </span>
                    </div>
                    <div class="input-field align-left">
                        <input type="checkbox" id="challengePublicallyAvailable" name="challengePublicallyAvailable" ng-model="challengeCreateUsingUi.challenge.published" value="challengeCreateUsingUi.challenge.published">
                        <label for="challengePublicallyAvailable" class="checkbox-field">Publically Available</label>
                        <span class="form-icon form-icon-dark">
                            <i class="fa fa-info-circle">
                                <md-tooltip md-direction="right">
                                    It is a long established fact that a
                                </md-tooltip>
                            </i>
                        </span>
                    </div>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14">
                            <span>Challenge Image</span>
                            <input name="challengeImage" ngf-select type="file" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeImage" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                             <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="waves-effect waves-dark btn ev-btn-dark w-300 fs-14">
                            <span>Evaluation Script</span>
                            <input name="challengeEvalScript" ngf-select type="file" class="text-dark-black dark-autofill w-400" ng-model="challengeCreateUsingUi.challengeEvalScript" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate eval-script" type="text">
                             <span class="form-icon form-icon-dark">
                                <i class="fa fa-info-circle">
                                    <md-tooltip md-direction="right">
                                        It is a long established fact that a
                                    </md-tooltip>
                                </i>
                            </span>
                        </div>
                    </div>
                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">Submit</button>
                    </div>
                    <div ng-if="challengeCreateUsingUi.isFormError" class="wrn-msg text-highlight align-right">
                    {{challengeCreateUsingUi.formError}}
                    </div>
                </form>
            </div>
        </div> -->
    </div>
</section>
